.col.s6
  .card.horizontal
    .card-image
      = image_tag "http://placehold.it/200x150"
    .card-stacked
      .card-content
        = feed.name
        = feed.description
      .card-action
        = button_to "Subscribe", subscribed_feed_path(feed_id: feed), remote: true
        = link_to "Details", feed_path(feed)
        // = feed.url