.col.s6
  .card.horizontal
    .card-image
      = image_tag "http://placehold.it/200x150"
    .card-stacked
      .card-content
        = feed.name
        = feed.description
      .card-action
        = link_to "Subscribe", "#"
        = link_to "Details", "#"
        // = feed.url