= div_for subscribed_feed  do |subscribed_feed|
  .col.s3
    .card
      .card-image
        = image_tag "http://placehold.it/200x150", class: 'img-resposive'
      .card-content
        .card-title= subscribed_feed.feed.name
      .card-action.align-fix
        = button_to 'Unsubscribe', subscribed_feed, class: 'card-button unsubscribe-feed-button red-text', form_class: 'unsubscribe-form', data: { feedid: subscribed_feed.id }, remote: true
        = link_to "Details", "#"