.navbar
  %nav
    .nav-wrapper
      %a.brand-logo{:href => "/"} Improv
      %ul.right.hide-on-med-and-down
        %li
          = link_to events_path, class: "" do
            Events
            %i.material-icons.left today
        // %li
        //   = link_to galleries_path, class: "" do
        //     Galleries
        //     %i.material-icons.left camera
        %li
          = link_to lists_path, class: "" do
            Lists
            %i.material-icons.left list
        %li
          = link_to feeds_path do
            = icon('fa fa-rss left')
            RSS feeds
        - if user_signed_in?
          %li= link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to "Sign in", new_user_session_path 
            = link_to "Register", new_user_registration_path 
        
