.row.hide-on-small-only
  .welcome-parallax
    .parallax-container
      .parallax
        = cl_image_tag 'webpage/shared/home/jack-catterall-6268'

.row
  .col.s3.upcoming-events-col
    = render partial: 'event_for_upcoming', collection: @events_week_in_advance, as: :event, locals: { event_id_prefix: 'upcoming' }
  .col.s6
    #messages
      = render @messages
    = render 'messages/message_form'


  .col.s3
    %h6.center-align.tooltipped(data-position="bottom" data-delay="50" data-tooltip='#{render partial: 'shared/feeds/tooltip', locals: {subscribed_feeds: @subscribed_feeds}}')
      My feeds:
    - @entries.each do |entry|
      %br
      .entry.entry--with-hidden-date
        .hvr-underline-from-left
          = link_to entry.title, entry.url, target: '_blank'
          .entry-published-date= "#{time_ago_in_words(entry.published)} ago"