.row
  .col.s2
    %br This months upcoming events:
    - @events.each do |event|
      %span= event.start_time.strftime("[%d] %H:%M")
      = event.name
      %br
  .col.s7
    = image_tag 'http://placehold.it/2000x500', class: 'responsive-img'
    .col.s2.red
    .col.s7.blue
    %h1= link_to "Sign out", destroy_user_session_path, :method => :delete
    .col.s3
  .col.s3
    %h6.center-align.tooltipped(data-position="bottom" data-delay="50" data-tooltip='#{render partial: 'shared/feeds/tooltip', locals: {subscribed_feeds: @subscribed_feeds}}')
      My feeds:
    - @entries.each do |entry|
      %br
      .entry.entry--with-hidden-date
        .hvr-underline-from-left
          = link_to entry.title, entry.url, target: '_blank'
          .entry-published-date= "#{time_ago_in_words(entry.published)} ago"