= stylesheet_link_tag 'feeds'
.row
  .col.s2
    All feeds, last updated at:
    %br
    - @feeds.each do |feed|
      = feed.updated_at
  .col.s7
    = image_tag 'http://placehold.it/2000x500', class: 'responsive-img'
    .col.s2.red
      s
    .col.s7.blue
      a
    .col.s3
  .col.s3
    last sync: 

    - @entries.each do |entry|
      %br
      .hvr-underline-from-left= link_to entry.title, entry.url, target: '_blank'
      .feed-published= entry.updated_at