%script{:src => "//maps.google.com/maps/api/js?key=AIzaSyD0oNaJvEm7i9OKhBVrPFpv_hcZUMwfZC4"}
%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}

.row
  .col.s12.m3.upcoming-events-col
    .row
      %h5.center Upcoming events
    = render partial: 'event_for_upcoming', collection: @events_week_in_advance, as: :event, locals: { event_id_prefix: 'upcoming' }
  .col.s12.m6
    #messages
      = render @messages
    = render 'messages/message_form'
    
    #map-data{ data: {locations: (raw @location_hash.to_json)} }
    #map{:style => "width: 100%; height: 400px;"}

  .col.s3
    %h6.center-align.tooltipped(data-position="bottom" data-delay="50" data-tooltip='#{render partial: 'shared/feeds/tooltip', locals: {subscribed_feeds: @subscribed_feeds}}')
      My feeds:
    - @entries.each do |entry|
      %br
      .entry.entry--with-hidden-date
        .hvr-underline-from-left
          = link_to entry.title, entry.url, target: '_blank'
          .entry-published-date= "#{time_ago_in_words(entry.published)} ago"

