= month_calendar events: events do |date, events|
  .date
    = date.day
  - events.each do |event|
    = div_for(event, class: 'event') do |event|
      %span= event.start_time.strftime("%H:%M")
      = event.name