= div_for event, class: "grid-item-event color-#{ event.color }", data: { start_time: "#{ event.start_time }" } do |event|
  .card
    .card-content
      = event.name
      %br= event.start_time.strftime('%H:%M %p')
      = event.color
      // = button_to 'Delete', event, class: 'card-button red-text', method: :delete, remote: true