= div_for event, class: "#{ grid_item_class ||= ''} color-#{ event.color }" do |event|
  .card
    .card-content
      = event.name
      %br= event.start_time.strftime('%H:%M %p')
      = event.color
      // = button_to 'Delete', event, class: 'card-button red-text', method: :delete, remote: true