.row
  = semantic_form_for @event, remote: true do |f|
    #error_explanation
    #event_fields
      .event-field
        .time-select= f.time_select(:start_time)
        %br.title
          = f.label :name
          = f.text_field :name
        = f.label :color
        .color= f.text_field :color
        %br= submit_tag "Create", class: 'btn waves-effect light-blue darken-2', id: 'create-event-button'