.row
  .upcoming-events.center-align
    = events.count 
    Upcoming events
- events.group_by {|event| event.start_time.to_date }.each do |start_time, events_for_date|
  .row.row-group-divider
    .col.l2.m2.s2
      .upcoming-date-number= start_time.strftime('%e')
      .upcoming-date-month= start_time.strftime('%a')
    .col.l5.m10.s10
      = render events_for_date

= button_to new_event_path, class: 'btn-floating', method: :get, remote: true do
  = icon('fa fa-plus')