
.container
  .row.center-align
    .main-text
      %h1 Improv
      .small-text Spicing up skills
      
  .row.panel
    .col.s12.m12.l6
      .card
        .card-title.center-align Sign in
        .card-content
          .center-align
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .input
              = f.label :email, class: 'active'
              %br/
              = f.email_field :email, autofocus: true
            .input
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "off"
            - if devise_mapping.rememberable?
              .field.remember_me
                = f.check_box :remember_me
                = f.label :remember_me
              .actions
                = f.submit "Sign in"
              .card-action
                = render "devise/shared/links"
                
    .col.s12.m12.l6
      .card
        .card-title.center-align Register
        .card-content
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true
            .field
              = f.label :password
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "off"
            .field
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "off"
            .actions
              = f.submit "Sign up"
              
.row
  .col.s3.offset-s9.quote
    %p
      “The only way to make sense out of change is to plunge into it, move with it, and join the dance.” 
      %br
      ― Alan W. Watts