.gallery-grid-item{id: gallery.id, data: { created_at: gallery.created_at }}
  .card
    .card-image.waves-effect.waves-block.waves-light
      = link_to gallery do
        = cl_image_tag(gallery.image, :width=>400, :height=>400, :crop=>"fit", class:'waves-effect waves-block waves-light') 
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        = gallery.title
        %i.material-icons.right more_vert
    .card-reveal
      %span.card-title.grey-text.text-darken-4
        Card Title
        %i.material-icons.right close
      %p= gallery.description
      .edit-gallery-form{id: "gallery_edit_form_#{gallery.id}"} 
      = button_to delete_get_data_gallery_path(gallery), class: 'gallery-button-default btn waves-effect delete-gallery-button', form_class: 'delete-gallery-form', data: { modal: 'confirm-delete-gallery' }, method: :post, remote: true do
        = icon('fa fa-trash-o fa-lg')
      .rename-gallery-button
        = button_to edit_gallery_path(gallery), class: 'gallery-button-default btn waves-effect', method: :get, remote: true do
          %i.large.material-icons mode_edit