.container
  .row.center-align.header-wrapper
    %i.material-icons.large.camera-icon camera
    .header.valign Gallery
  .row
    .col.m4
      .card
        .card-image.waves-effect.waves-block.waves-light
          .activator= cl_image_tag("camera-photo.jpg", :transformation=>[{:color=>"white", :overlay=>"text:Arial_600:Add new gallery"}],
            :width=>500, :height=>500, :crop=>"fit")
        .card-content
          = form_for :gallery do |f|
            #hide-whole
              .hide-input
                = f.file_field(:image)
              .fake-button.btn.waves-effect
                Add
                = icon 'fa fa-picture-o fa-lg' 
                
              
            = f.submit 'Create', class: 'btn waves-effect right create-gallery-button' 
            = f.text_field :title, placeholder: :title
            
            
    

      
//     - @galleries.each do |g|
//       .col.m4.card-panel= link_to g.title, gallery_path(g)

  
