= form_for [@gallery, @gallery_image] do |f|
  = f.file_field(:image)
  = f.submit

.gallery-image-grid.chocolat-parent
  .gallery-image-grid-sizer
  - @gallery.gallery_images.order(created_at: :desc).each do |i|
    .gallery-grid-image-item
      = link_to i.image.url, class: 'chocolat-image' do
        = cl_image_tag i.image