= form_for @gallery, url: gallery_gallery_images_path(@gallery), method: :post do |f|
  = f.file_field :gallery_images, multiple: true
  = f.submit

.gallery-image-grid.chocolat-parent
  .gallery-image-grid-sizer
  - @gallery.gallery_images.order(created_at: :asc).each do |i|
    .gallery-grid-image-item
      = link_to i.image.url, class: 'chocolat-image' do
        = cl_image_tag i.image