= form_for [@gallery, @gallery_image] do |f|
  = f.file_field(:image)
  = f.submit

.gallery-image-grid
  .gallery-image-grid-sizer
  // - @gallery.gallery_images.each do |i|
  -20.times do
    .gallery-grid-image-item
      = image_tag "https://unsplash.it/#{rand(400..800)}/#{rand(400..800)}"
