= form_for @todo do |f|
  - if @todo.errors.any?
    #error_explanation
      %h2
        = pluralize @todo.errors.count, "error"
        prohibited this odo from being saved:
      %ul
        - @todo.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br
      = f.text_field :title
  .field
    = f.label :due_to
    %br
      = f.text_field :cart_id
  .actions
    = f.submit