!!!
%html
  %head
    %title Improv
    = stylesheet_link_tag "application", controller_name
    = javascript_include_tag "application", controller_name
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body
    #modal-holder
    = render "shared/navbar"
    = yield
    = render "shared/footer"