!!!
%html
  %head
    %title Improv
    = stylesheet_link_tag "application", "{controller_name}"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = stylesheet_link_tag "layout", controller_name
  %body
    .content
      #modal-holder
      = render "shared/navbar"
      = yield
    .footer
      = render "shared/footer"
    