!!!
%html
  %head
    %title Improv
    = stylesheet_link_tag 'application', "public"
    = javascript_include_tag "public"
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
  %body{:class => "controller-#{params[:controller]}"}
    .content
      #modal-holder
      = render "shared/flash"
      = yield
    