!!!
%html
  %head
    %title Improv
    = stylesheet_link_tag "application", params[:controller], 'https://fonts.googleapis.com/css?family=Lato:100', 'https://fonts.googleapis.com/css?family=Raleway:300'
    = javascript_include_tag "application", params[:controller]
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body{:class => "controller-#{params[:controller].parameterize}"}
    = yield
    